body {
  text-align: center;
}

.montrer {
  visibility: visible;
}

#login{
  position: absolute;
  right: 0.8%;
  top: 	25px;
}

#title{
  left: 5%;
}

.mousevent {
  border: 6px solid salmon;
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  border-radius: 20px;
}
