
body {
    background:rgb(0, 0, 0);
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color:rgb(131, 131, 131);
    background-color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 5px;
}

#welcome{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    left: 50%;
    top: 50%;
    transition: 5s;
}
button {
    color: #0062FF;
    border: #0062FF solid 1px;
    opacity: 0.5;
}

button:hover {
    color: #0062FF;
    border: #0062FF solid 1px;
    opacity: 1;
}

button:active {
    color: #004bbb;
    border: #0055dd solid 1px;
    background: #ffff00;
    opacity: 1;
}

.text {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}

    
* {
    text-align: center;
    background: black url(images/xyz.png) no-repeat left top;
}